.root {
    max-width: 100%;
}

.media {
    height: 0;
    padding-top: 56.25%;
}

.cardContent {
    display: flex;
    justify-content: space-between;
}

.cardActions {
    display: flex;
    justify-content: flex-end;
}