.grow{
    flex-grow: 1;
}

.appBar {
    box-shadow: 'none';
    border-bottom: '1px solid rgba(0, 0, 0, 0.12)';
  }

 .title {
    flex-grow: 1;
    align-items: 'center';
    display: 'flex';
    text-Decoration: 'none';
  }

  .image {
    margin-right: '10px';
  }

.menuButton {
    margin-right: 2px;
}

.grow {
    flex-grow: 1;
  }

  .search {
    position: 'relative';
    margin-Left: 0;
    width: '100%';
  }

  .searchIcon {
    padding: 1px 1px 1px 0px;
    height: '100%';
    position: 'absolute';
    pointerEvents: 'none';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
  }

  .inputRoot {
    color: 'inherit',
  }

  .inputInput {
    padding: 1px 1px 1px 0px;
}
